/* ---------------Utility Classes----------- */
.container{
  width:80vw;
  max-width:960px;
  margin:40px auto;
}
/* 
.img-right{
  float: right;
  border: 1px solid #c0c0c0;
  padding: 2px;
  margin: 10px 0 10px 20px;
}
*/
.img-left{
  float: left;
  border: 1px solid #c0c0c0;
  padding: 2px;
  margin: 10px 20px 10px 0;
}

/*   .img-center{
  display:block;
  border: 1px solid #c0c0c0;
  padding: 2px;
  margin:20px auto; 
} */

/* --------------- Responsive Images ----------- */
img{
  max-width:100%;
}

/*----------------- Tables ------------ */
table{
  width:100%;
  border:1px solid #17202A;
  border-collapse:collapse;/*collapses the extra borders */

}
table caption{
  font-weight: bold;
  color:darkblue;
  text-decoration:underline;
  margin:10px;
}
table tr:nth-child(even){
  background-color: rgba(93, 109, 126, 0.1);
}
table tr:hover{
  background-color: rgba(93, 109, 126, 0.2);
}



table th{
  background-color: #5D6D7E;
  padding:10px;
}
table td{
  border:1px solid #17202A;
  padding: 5px;
  text-align: right;
}

td:first-of-type/*we could also use td:nth-child(1)*/{
  text-align: left;
}
  /*----------------- Lists ------------ */

ol{
  list-style-type: upper-roman;
  font-style:oblique;
}

ul ul{
  list-style-type: square;
  color: #5D6D7E;
}

dl{
  /* border: 2px solid rgba(0, 0, 225, 0.4);*/
  border: 2px solid #c0c0c0;
}
dt{
  font-weight: bold;
}
dd{
  margin:0;
  font-style: italic;
}
dd + dt{
  margin-top: 20px;
  color: red;
}




/*-----------------Global Styles------------ */
body{
   font-family: 'Source Code Pro', monospace;
   margin:0;
  background-color: #E8E7FE;
  font-style: italic;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header.primary{
  background-color:#5D6D7E;
/*     background-color: #DFDBE5; */
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.3'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  text-align:center;
  color:#ff0000;
  padding:40px;
  /*long form*/
  padding-top:40px;
  padding-right:40px;
  padding-bottom:40px;
  padding-left:40px;
  
  /* short form T,R,B,L*/
  padding: 40px 40px 40px 40px;
  
  /* shortest form top/bottom  left/right */
  padding:20px 20px;
/*   text-shadow:1px 1px #000000 */
}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 10px;
}

header.primary h1 a{
  color:black;
  text-decoration:none;
  
}

header.primary h2{
  color:#2C3E50;
  font-size:1.4rem;
  
}

header.primary nav{
  max-width:960px;
  margin:20px auto;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}


header.primary nav ul li{
  list-style-type:none; /*Used to remove the bullets from the hyperlinks*/
}

header.primary nav ul li a{
  color:#fff;
  text-decoration:none;
  background-color:#17202A;
/*   background-color:rgba(0,0,0,0.5); */
  padding:10px;
  border-radius:10px;
/*   border:2px solid rgba(0,0,0,0.3); */
  transition: 0.5s;
}

header.primary nav ul li a:hover,
header.primary nav ul li a:active{
  background: rgba(81, 90, 90);
}

#intro{
  border-bottom: 2.5px solid #848696;
/*   padding-bottom: 20px; */
}

#intro h2{
  color:#766EAD;
  border-bottom: 2.5px solid #848696;
}

#content{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  gap:20px; /*Flex Item*/
  border-bottom: 2.5px solid #848696;
  padding-bottom: 2rem;
}

#content article.post {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: 0.5s;
}

#content article.post:hover {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
}

article.post figure{
  margin:0;
}

time.post-date,
figcaption,
.post-meta{
  text-transform:uppercase;
  color: darkblue;
  font-weight:bold;
}

.post figure img{
/*   border: 1px solid #E046D3 ; */
  padding: 2px;
  border-radius:5px;
}

article.post a{
  color:#766EAD;
}

article.post a:hover{
  text-decoration:none;
}


#practice h2{
color:#766EAD;
border-bottom: 2.5px solid #848696;
}

#practice blockquote{
border: 2px solid #17202A;
margin: 30px 70px;
padding: 30px;
border-radius: 20px 0;
background-color: #889FB8;
color: black;
line-height: 1.8;
}


#practice blockquote cite{
display: block;
font-size: 0.8rem;
font-weight: bold;
text-align: right;
margin-top: 20px;
}

#practice h4,h3{
color:#766EAD;
/* border-bottom: 1.5px solid #848696; */
text-decoration: underline;
}



aside[role = "complementary"]{
  background-color:#5D6D7E;
  padding:1.9rem;
}

aside .container{
  display:flex;
  gap:40px;
  flex-direction:row;
}

aside .container h2{
  text-decoration: underline;
  font-style:italic;
}

aside .widget a{
  display:block;
  text-align: right;
  padding-top:20px;
  color:black;
  font-style: italic;
}

aside .widget footer{
  text-decoration-line: underline;
}


/*----------------- Media Queries--------------*/
@media screen and (
  max-width:600px){ 
  header.primary nav ul{
  flex-direction:column;
    max-width:250px;
    margin:auto;
}
  header.primary nav a{
    display:block;
  }
  header.primary nav li{
    margin-bottom:10px;
  }
}
