/* ---------------Utility Classes----------- */
.container{
    width:80vw;
    max-width:960px;
    margin:40px auto;
  }

.img-right{
    float: right;
    border: 1px solid #c0c0c0;
    padding: 2px;
    margin: 10px 0 10px 20px;
  }

.img-left{
    float: left;
    border: 1px solid #c0c0c0;
    padding: 2px;
    margin: 10px 20px 10px 0;
  }

.img-center{
    display:block;
    border: 1px solid #c0c0c0;
    padding: 2px;
    margin:20px auto; 
  }
  
  /* --------------- Responsive Images ----------- */
  img{
    max-width:100%;
  }

  /*----------------- Tables ------------ */
  table{
    width:100%;
    border:1px solid #17202A;
    border-collapse:collapse;/*collapses the extra borders */
  
  }
  table caption{
    font-weight: bold;
    margin:10px;
  }
  table tr:nth-child(even){
    background-color: rgba(93, 109, 126, 0.1);
  }
  table tr:hover{
    background-color: rgba(93, 109, 126, 0.2);
  }



  table th{
    background-color: #5D6D7E;
    padding:10px;
  }
  table td{
    border:1px solid #17202A;
    padding: 5px;
    text-align: right;
  }

  td:first-of-type/*we could also use td:nth-child(1)*/{
    text-align: left;
  }
    /*----------------- Lists ------------ */

  ol{
    list-style-type: upper-roman;
  }

  ul ul{
    list-style-type: square;
    color: #5D6D7E;
  }

  dl{}
  dt{
    font-weight: bold;
  }
  dd{
    margin:0;
  }
  dd + dt{
    margin-top: 20px;
    color: red;
  }
  



  /*-----------------Global Styles------------ */
  body{
     font-family: 'Source Code Pro', monospace;
     margin:0;
  }
  
  header.primary{
    background-color:#5D6D7E;
    text-align:center;
    color:#ff0000;
    padding:40px;
    /*long form*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    
    /* short form T,R,B,L*/
    padding: 40px 40px 40px 40px;
    
    /* shortest form top/bottom  left/right */
    padding:20px 20px;
  /*   text-shadow:1px 1px #000000 */
  }
  
  header.primary h1{
    font-size: 2.4rem;
    margin:20px 0 10px;
  }
  
  header.primary h1 a{
    color:black;
    text-decoration:none;
  }
  
  header.primary h2{
    color:#2C3E50;
    font-size:1.4rem;
  }
  
  header.primary nav{
    max-width:960px;
    margin:20px auto;
  }
  
  header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
  }
  
  
  header.primary nav ul li{
    list-style-type:none; /*Used to remove the bullets from the hyperlinks*/
  }
  
  header.primary nav ul li a{
    color:#fff;
    text-decoration:none;
    background-color:#17202A;
  /*   background-color:rgba(0,0,0,0.5); */
    padding:10px;
    border-radius:10px;
  /*   border:2px solid rgba(0,0,0,0.3); */
    transition: 0.5s;
  }
  
  header.primary nav ul li a:hover,
  header.primary nav ul li a:active{
    background: rgba(81, 90, 90);
  }
  
  #intro{
    border-bottom: 2.5px solid #c0c0c0;
  /*   padding-bottom: 20px; */
  }
  
  #intro h2{
    color:#AA8FD9;
    border-bottom: 2.5px solid #c0c0c0;
  }
  
  #content{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    gap:20px; /*Flex Item*/
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 2rem;
  }
  
  #content article.post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
  }
  
  #content article.post:hover {
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
  }
  
  article.post figure{
    margin:0;
  }
  
  time.post-date,
  figcaption,
  .post-meta{
    text-transform:uppercase;
    color:#E33B4F;
  }
  
  .post figure img{
  /*   border: 1px solid #E046D3 ; */
    padding: 2px;
    border-radius:5px;
  }
  
  article.post a{
    color:#AA8FD9;
  }
  
  article.post a:hover{
    text-decoration:none;
  }


#practice h2{
  color:#AA8FD9;
  border-bottom: 2.5px solid #c0c0c0;
}

#practice blockquote{
  border: 2px solid #17202A;
  margin: 30px 70px;
  padding: 30px;
  border-radius: 20px 0;
  background-color: #5D6D7E;
  color: black;
  line-height: 1.8;
}


#practice blockquote cite{
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}


  
  aside[role = "complementary"]{
    background-color:#5D6D7E;
    padding:1.9rem;
  }
  
  aside .container{
    display:flex;
    gap:40px;
    flex-direction:row;
  }
  
  aside .widget a{
    display:block;
    text-align: right;
    padding-top:20px;
    color:black;
  }
  
  /*----------------- Media Queries--------------*/
  @media screen and (
    max-width:600px){  
    header.primary nav ul{
    flex-direction:column;
      max-width:250px;
      margin:auto;
  }
    header.primary nav a{
      display:block;
    }
    header.primary nav li{
      margin-bottom:10px;
    }
  }
  