/* -----------------------Global Styles------------------------- */
body {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    background-color: #e8e7fe;
    font-style: italic;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    display: block;
  }

  /* ---------------Box Sizing----------------- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  background-color: #000;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#wrap {
  width: 70vw;
  max-width: 900px;
  margin: 40px auto;
  background: rgba(0,0,0,.5);
  border: double 3px #c0c0c0;
  padding: 40px;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
}

h2 {
  border-bottom: 1px solid #c0c0c0;
}

a {
  color: #ffffff;
}

header.primary h1 {
       font-size: 2.4rem;
       border-bottom: 2px solid #c0c0c0;
   }

nav ul {
       display: block;
       list-style-type: none;
       color: #969696;
       list-style-type: disc;
       font-size: 1.4rem;

   }

header.primary nav a {
       display: block;
       text-align: left;
       color: white;

       text-decoration:none;
       transition:0.5s;
   }

a:hover {
       font-size:1.7rem;
       background-color:#2D3138;
   }
#position-lab {
       display: block;
       text-align: left;
       list-style-type: none;
   }
#position-lab + ul {
       list-style-type: circle;
   }

#pro-en{
  text-align: left;
}
.pro-en p , .pro-en ul li,h2{
  color:#fff;
}

/* #pro-en h3{
  border-bottom: 1px solid #c0c0c0;
} */

/* -----------------------Footer------------------------ */
footer {
    color: white;
    position:relative;
    text-align: left;
   }
